# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#client

# dependencies
client/node_modules
client/.pnp
client/.pnp.js

# testing
/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
clientyarn-debug.log*
clientyarn-debug.log*
client/yarn-error.log*
client/.pnpm-debug.log*

# local env files
client/.env*.local

# vercel
client/.vercel

# typescript
client/*.tsbuildinfo


#server
server/node_modules
server/.env

#deployment
deploy.sh