html,
body,
input,
button {
  padding: 0;
  margin: 0;
  background-color: #1f1f1f;
  color: #8d8a90;
  font-family: "Press Start 2P", cursive;
}
/* input {
  text-indent: 10px;
  color: "#AC6AFB";
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.phone-input {
  text-indent: 12px;
  color: #ac6afb;
  font-size: 1rem;
  width: 100%;
  border-radius: 5px;
  border-width: thin;
  height: 3.5rem;
  border-color: #8d8a90;
  border-style: solid;
}

.phone-input:focus,
:hover {
  border-color: #ac6afb;
  outline: none;
}

@media print {
  .hide-when-printing {
    display: none !important;
  }
  .show-when-printing {
    display: block !important;
  }
}
